<?xml version="1.0" ?>
<SystemProperties>
  <SystemName>2600-501273</SystemName>
  <SerialNo>26-01273</SerialNo>
  <UsedMedia>
    <Media path="C:\PROGRAM FILES\ABB INDUSTRIAL IT\ROBOTICS IT\MEDIAPOOL\ROBOTWARE_5.15.5001" name="RobotWare" version="5.15.5001.05"/>
    <Media path="C:\PROGRAM FILES\ABB INDUSTRIAL IT\ROBOTICS IT\MEDIAPOOL\AW-MILLER-AA-007.04" name="AW-MILLER-AA-007" version="5.14.3017.07"/>
  </UsedMedia>
  <ControlModule>
    <Key>ec2222Bz6xD9A22I22Y422h22Go23z</Key>
    <SignatureNr>177</SignatureNr>
    <Category descr="OS">RobotWare OS and English</Category>
    <Category descr="Languages">644-3 Spanish</Category>
    <Category descr="Options">709-x DeviceNet</Category>
    <Category descr="Options">608-1 World Zones</Category>
    <Category descr="Options">611-1 Path Recovery</Category>
    <Category descr="Options">613-1 Collision Detection</Category>
    <Category descr="Applications">812-1 Production Manager</Category>
    <Category descr="Applications">633-1 Arc</Category>
    <Category descr="Languages">645-2 German</Category>
    <Category descr="Suboptions">709-2/709-5 Master/Slave Dual</Category>
    <Category descr="Suboptions">650-x Power source type</Category>
    <Category descr="Suboptions">652-1 BullsEye</Category>
    <Category descr="Suboptions">653-x Torch Service</Category>
    <Category descr="Suboptions">External option loaded Welder</Category>
    <Category descr="Suboptions">653-2 Binzel - TC97</Category>
    <Option descr="RW Control module key"/>
    <Option descr="RobotWare OS and English"/>
    <Option descr="644-3 Spanish">
      <SubOption descr="645-2 German"/>
    </Option>
    <Option descr="709-x DeviceNet">
      <SubOption descr="709-2/709-5 Master/Slave Dual"/>
    </Option>
    <Option descr="608-1 World Zones"/>
    <Option descr="611-1 Path Recovery"/>
    <Option descr="613-1 Collision Detection"/>
    <Option descr="812-1 Production Manager"/>
    <Option descr="633-1 Arc">
      <SubOption descr="650-x Power source type">
        <SubOption descr="External option loaded Welder"/>
      </SubOption>
      <SubOption descr="652-1 BullsEye"/>
      <SubOption descr="653-x Torch Service">
        <SubOption descr="653-2 Binzel - TC97"/>
      </SubOption>
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>DriveModule1</Name>
    <Key>Mxth-XqT01hhjhRhK</Key>
    <SignatureNr>170</SignatureNr>
    <Category descr="Manipulators">ABB standard manipulator</Category>
    <Category descr="Manipulators">Drive System 09 2600/4400/6400R</Category>
    <Category descr="Manipulators">IRB 2600</Category>
    <Category descr="Variants">2600ID-8/2.00</Category>
    <Category descr="Suboptions">No motor fan</Category>
    <Category descr="Drives">No additional drive</Category>
    <Option descr="RW Drive module 1 key"/>
    <Option descr="ABB standard manipulator">
      <SubOption descr="IRB 2600">
        <SubOption descr="2600ID-8/2.00">
          <SubOption descr="No motor fan"/>
        </SubOption>
      </SubOption>
    </Option>
    <Option descr="Drive System 09 2600/4400/6400R">
      <SubOption descr="No additional drive"/>
    </Option>
  </DriveModule>
  <AdditionalOption>
    <Name>AW-MILLER-AA-007</Name>
    <Key>07PPWQPPPPO-.PFlVhgF5E-1b</Key>
    <SignatureNr>1001</SignatureNr>
  </AdditionalOption>
</SystemProperties>
